.h2-class
{
font-size :60px;
text-align : center;
color : blue;
text-decoration: underline overline;
}

.image-class {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display:flex;
  
}

.h5-class 
{
font-size : 45px;
text-align : center;
color :mediumvioletred;
text-decoration: underline;
}

.table-class{
color : cornsilk;
text-align : center;
margin-left: auto;
  margin-right: auto;
font-size : 35px;
}

.info-class
{
text-align : center;
font-size:35px;
}

.t-class
{
color : darkcyan;
margin-left: auto;
  margin-right: auto;
border: 1px solid black;
display:flex;
justify-content: center;
}

.tr-class{
font-size:22px;
color:indigo;
border: 1px solid black;
}

.tr1-class{
font-size:22px;
color: purple;
}

.fcontainer{
display :flex;
flex-direction: column;
height : 1700px;
justify-content :center;
align-items:center;
background-color:rgb(96, 168, 224)

}
.p-class{

    font-family: Times New Roman;
    font-size:30px;
    display:flex;
    border: 2px solid black;

}
.place{
    text-decoration: underline;
    font-size:30px;
    color:rgb(26, 26, 220);
    padding-left:20%;
}
.ul
{
    color:rgb(6, 3, 19);
    font-size:35px;
    font-family:Calibri;
}
.container{
    display:flex;
    align-items:center;
    color:rgb(139, 0, 67);
    justify-content: space-around;
    gap:20px;
}
.container2
{
display:grid;
grid-template-columns: 500px 500px 500px;
grid-template-rows: 550px;
padding:10px;   
}

.container2 >  div{
    padding:20px;
}

.container21{
    border:2px solid black;
     background-color:rgb(142, 26, 220);
}
.container22{
    border:2px solid rgb(13, 15, 13);
     background-color:rgb(211, 51, 182);
}
.container23{
    border:2px solid rgb(11, 13, 11);
     background-color:rgb(142, 14, 197);
}

